.contact_us_page_container{
    background-image: url('https://media.istockphoto.com/photos/contact-us-email-phone-message-contact-communication-web-landing-page-picture-id884374384?k=6&m=884374384&s=170667a&w=0&h=K9FVxAdIzdO2vxexan_Mmu5Tcz_5k-dRmvhRsPiCwBQ=');
    padding: 20px;
    border-radius: 20px;
    width: 600px;
    
    
}
.contact_us_page_heading{
    font-family: cursive;
    color: white;
    font-size: 25px;
    text-align: center;
    
}

.contact_us_page_discription{
    font-family: cursive;
    color: white;
    text-align: center;
}
.contact_us_page_details{
    font-family: cursive;
    color: white;
    font-size: 20px;

}
.contact_us_page_details_2{
    font-family: cursive;
    color: white;
    font-size: 15px;   
}
.contact_us_page_details_card{
    margin: 40px;
}
.contact_us_page_line{
    color:white;
    
}